<% if(utilizator=="admin"){ %>
    <form class="autentificare" action="/adaugare-produs" method="POST">
        <label>Id produs</label>
        <input type="text"   name="idProdus"><br><br>
        <label>Nume produs</label>
        <input type="text" name="numeProdus"><br><br>
        <button class="butonaut" type="submit">Adauga produs</button>
    </form>
<% } else{ %>
    <h1>Trebuie sa fii logat ca admin</h1>
<% } %>