<form action="/verificare-autentificare" method="GET">
    <label id="user">Username:</label>
    <input type="text"><br>
    <label id="pass">Password:</label>
    <input type="password"><br>

    <button type="submit">Login</button>
</form>