<form action="/verificare-autentificare" method="POST">
    <label >Username:</label>
    <input type="text" name="username" placeholder="Username" required><br>
    <label >Password:</label>
    <input type="password" name="password" placeholder="Password" required><br>

    <input type="submit">
</form>

<p style="font-family:red"><%=mesajEroare%></p>