<form class="autentificare" action="/verificare-autentificare" method="POST">
    <label >Username:</label>
    <input type="text" name="username" required><br><br>
    <label >Password:</label>
    <input type="password" name="password" required><br>
    <% if(mesajEroare!=""){ %>
    <p><%=mesajEroare%></p>
    <% } %>
    <button class="butonaut" type="submit">Autentificare</button>
</form>