<form action="/chestio" method="GET">
<div>
    <h3>Intrebare 1</h3>
    <h4 id="int1"></h2>
    <input type="radio" id="int1v1">
    <label>Raspuns 1</label><br>
    <input type="radio" id="int1v2">
    <label>Raspuns 2</label><br>
    <input type="radio" id="int1v3">
    <label>Raspuns 3</label><br>
    <input type="radio" id="int1v4">
    <label>Raspuns 4</label>
</div>

<div>
    <h3>Intrebare 2</h3>
    <h4 id="int2"></h4>
    <input type="radio" id="int2v1">
    <label>Raspuns 1</label><br>
    <input type="radio" id="int2v2">
    <label>Raspuns 2</label><br>
    <input type="radio" id="int2v3">
    <label>Raspuns 3</label><br>
    <input type="radio" id="int2v4">
    <label>Raspuns 4</label>
</div>

<div>
    <h3>Intrebare 3</h3>
    <h4  id="int3"></h4>
    <input type="text" id="rasInt3"><br>
</div>

<div>
    <h3>Intrebare 4</h3>
    <h4  id="int4"></h4>
    <input type="radio" id="Int4A">
    <label>Adevarat</label><br>
    <input type="radio" id="Int4F">
    <label>Fals</label>
</div>

<div>
    <h3>Intrebare 5</h3>
    <h4 id="int5"></h4>
    <input type="time">
</div>

<button type="submit">Submit</button>
</form>